:root{
    --lightgrey:#EAEAEA;
    --icon-color:#B1B1B1;
    --bg-notifications:#8EDAFC;
}
/* general */
img{
    width:100%;
    
}
body{
    background: linear-gradient(0deg, hsla(54, 13%, 84%, 1) 85%, hsla(174, 100%, 29%, 1) 85%);
    width:100%;
    height:100vh;
    overflow:hidden;
}
.fa-solid{
    color:var(--icon-color);
    cursor:pointer;
}
.container{
    height:90vh;
    margin-top:5vh;
}

/* HEADER */

/* .border{
    border: 1px solid grey;
} */
.grey-bg{
    background-color: var(--lightgrey);
    
}

.img-container{
    width: 60px;
    height:60px;
    border-radius:50%;
    overflow:hidden;
    position:relative;
}
.my-info{
    height:80px;
}

/* SEZIONE NOTIFICATIONS */
.notifications{
    background-color:var(--bg-notifications);
    height:100px;
}
.fa-bell-slash{
    color:var(--bg-notifications);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* sezione anteprime chat */
.chatPrev-container{
    height:calc(100% - 240px);
    background-color:white;
    
}

.my-nav{
    padding: 10px;
    background-color:white;
}

.single-chat{
    border-bottom:1px solid var(--lightgrey);
    
}
.my-overflow{
    overflow-y:auto;
    max-height:100%;
}

.active{
    background-color:var(--lightgrey)
}

.last-msg{
    color:var(--icon-color)
}
/* sezione chats */

.chat-container{
    height:90vh;
}

.bg-custom{
    background-image: url('../img/mine.jpg');
    height:calc(100% - 150px);
}

.my-text-bar{
    height: 70px;
}

.emojis, .microphone{
    width:15%;
    height:100%;
    line-height:70px;
    text-align:center;
    cursor:pointer;
}
.input-text-container{
    flex-grow:1;
    height:100%;
}

.fa-microphone{
    color:grey;
}

.msg-container{
    width:100%;
    display:flex;
}

.message{
    width:40%;
    padding:10px;
    margin:20px;
    border-radius:10px;
}

.send{
    
    justify-content:flex-end;
}

.message.bg-received{
    background-color:white;
}

.message.bg-send{
    background-color:#D5F9BA;
    
}

.msg-hour{
    color:rgb(161, 161, 161);
    font-size:0.8rem;
}




